body {
    padding: 0;
}
.settings-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.settings-form label {
    width: 175px;
    padding-right: 10px;
}
.not-editable {
    opacity: 0.6;
    pointer-events: none;
}
.settings-segment {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.input-reveal-wrapper {
    position: relative;
}
.reveal-password-button {
    appearance: none;
    color: white;
    background-image: url(../../svg/eye.svg);
    position: absolute;
    right: 9px;
    top: 0px;
    transform: translateY(55%);
    cursor: pointer;
    transition: 0.2s;
}
.reveal-password-button:hover {
    filter: brightness(80%);
}
.icon-button {
    color: white;
    display: flex;
    padding-inline: 6.75px;
    gap: 5px;
}

.bookmark-json {
    max-height: 300px;
    overflow: scroll;
}
.collapsible-title-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}
.collapsible-title-icon {
    height: calc(100% - 20px);
    transform: rotate(-90deg);
    transition: transform 0.3s ease;
}
.collapsible .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: height 0.3s ease-out;
}
.collapsible-open .collapsible-content {
    max-height: 300px !important;
    transition: height 0.3s ease-out;
}
.collapsible-open .collapsible-title-icon {
    transform: rotate(0deg);
}