.popup-wrapper {
    padding: 20px 35px;
}
.bookmarksList {
    display: flex;
    flex-direction: column;
}
.button-wrapper {
    display: flex;
    justify-content: flex-start;
}
.settings-button {
    width: 35px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: visible;
}
.settings-button img {
    width: 65%;
    position: absolute;
}
.checkbox-unclickable {
    opacity: 0.6;
    pointer-events: none;
}